{% extends 'base.html.twig' %}

{% block desc %}<a href="{{ path('show_vehicle_repo', {'id': id}) }}" class="badge">{{ 'Back'|trans }}</a>{% endblock desc %}

{% block title %}{{ 'Repair creation'|trans }}{% endblock title %}
{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-success"/>
    {{ form_end(form) }}

{% endblock %}
