{% extends 'base.html.twig' %}

{% block body %}
    <h1>Repair</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ repair.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ repair.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if repair.date %}{{ repair.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ repair.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('show_vehicle_repo', { 'id': repair.car.id }) }}">Back</a>
        </li>
        <li>
            <a href="{{ path('repair_edit', { 'id': repair.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
