{% extends 'base.html.twig' %}

{% block title %}
    {% if cars is empty %}
        {{ 'No results found'|trans }}.
    {% elseif (cars|length) == 1 %}
        {{ cars|length}} {{ 'result found'|trans }}.
    {% else %}
        {{ cars|length}} {{ 'results found'|trans }}.
    {% endif %}
{% endblock title %}

{% block desc %}
    {% set totalResultCons = 0 %}
    {% for one in carsTotalAvg %}
        {% set totalResultCons = totalResultCons + one %}
    {% endfor %}

    <ul>
        {% for br in brand %}<li>{{ 'Brand'|trans }}: {{ br.name }}</li>{% endfor %}
        {% if model != null %}{% for ml in model %}<li>{{ 'Model'|trans }}: {{ ml.name }}</li>{% endfor %}{% endif %}
    </ul>
        {% if cars is not empty %}
            {{ 'Additional information'|trans }}:
        {% endif %}
    <ul>
        {% if cars is not empty %}<li>{{ 'Average fuel consumption for found results'|trans }}:
            {% if (carsTotalAvg|length) != 0 %}{{ (totalResultCons/(carsTotalAvg|length))|number_format(1, '.')}}
            {% else %}
                0
            {% endif %}</li>
        {% endif %}

        {% if topCategories is not empty %}
        <li>{{ 'The most common problems'|trans }}:
            <ul>
            {% for topCategory in topCategories %}
            <li>{{ topCategory[0].name }}  {{ number[loop.index - 1] }} / {{ allRepairs }}*</li>
        {% endfor %}
            </ul>
        </li>
            <small><small>* {{ 'all reported repairs'|trans }} </small></small>.
        {% endif %}
    </ul>
{% endblock desc %}

{% block body %}
    <table class="table text-center table-bordered text-justify">
        <thead>
            <tr class="popover-title">
                <th>{{ 'Brand'|trans }}</th>
                <th>{{ 'Model'|trans }}</th>
                <th>{{ 'Fuel'|trans }}</th>
                <th>{{ 'Capacity'|trans }}</th>
                <th>{{ 'Power'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Average Fuel Consumption'|trans }} [l/100km]</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('show_vehicle_info', { 'id': car.id }) }}">{{ car.brand.name }}</a></td>
                <td>{{ car.model.name }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.capacity }}</td>
                <td>{{ car.power }}</td>
                <td>{{ car.user.username }}</td>
                <td>{{ (carsTotalAvg[loop.index-1])|number_format(1, '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}       

