{% extends 'base.html.twig' %}

{% block title %}
    {% if carsNum is empty %}
        {{ 'No results found'|trans }}
    {% elseif carsNum == 1 %}
        {{ carsNum }} {{ 'result found'|trans }}
    {% else %}
        {{ carsNum }} {{ 'results found'|trans }}
    {% endif %}
{% endblock title %}

{% block desc %}
    {% set totalResultCons = 0 %}
    {% for one in carsTotalAvg %}
        {% set totalResultCons = totalResultCons + one %}
    {% endfor %}

    <ul>
        {% for br in brand %}<li>{{ 'Brand'|trans }}: {{ br.name }}</li>{% endfor %}
        {% if model != null %}{% for ml in model %}<li>{{ 'Model'|trans }}: {{ ml.name }}</li>{% endfor %}{% endif %}
    </ul>
        {% if cars is not empty %}
            {{ 'Additional information'|trans }}:
        {% endif %}
    <ul>
        {% if cars is not empty %}<li>{{ 'Average fuel consumption for found results'|trans }}:
            {% if (carsTotalAvg|length) != 0 %}{{ (totalResultCons/(carsTotalAvg|length))|number_format(1, '.')}}
            {% else %}
                0
            {% endif %}</li>
        {% endif %}

        {% if topCategories is not empty %}
        <li>{{ 'The most common problems'|trans }}:
            <ul>
            {% for topCategory in topCategories %}
            <li>{{ topCategory[0].name }}  {{ number[loop.index - 1] }} / {{ allRepairs }}*</li>
        {% endfor %}
            </ul>
        </li>
            <small><small>* {{ 'all reported repairs'|trans }}</small></small>.
        {% endif %}
    </ul><hr>
    <h2>Detailed Search</h2>

    <form action="{{ path('show_vehicles') }}" method="GET" class="detailedSearch">
        <input type="hidden" name ='brand' value="{{ app.request.get('brand') }}">
        <input type="hidden" name ='model' value="{{ app.request.get('model') }}">
        <label>Capacity: </label>
            <select name="minCapacity" placeholder="from">
                <option value="0" disabled selected>0</option>
                <option value="0">0</option>
                {% for i in range(1, 5, 0.2) %}
                    <option value="{{ i }}" {% if i == app.request.get('minCapacity') %} selected {% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <select name="maxCapacity" placeholder="to">
                <option value="" disabled selected>no limit</option>
                {% for i in range(1, 5, 0.2) %}
                    <option value="{{ i }}" {% if i == app.request.get('maxCapacity') %} selected {% endif %}>{{ i }}</option>
                {% endfor %}
                <option value="">no limit</option>
            </select>
        <label>Power: </label>
            <select name="minPower" placeholder="from">
                <option value="" disabled selected>from</option>
                <option value="">0</option>
                {% for i in range(60, 500, 10) %}
                    <option value="{{ i }}" {% if i == app.request.get('minPower') %} selected {% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <select name="maxPower" placeholder="to">
                <option value="" disabled selected>to</option>
                {% for i in range(60, 500, 10) %}
                    <option value="{{ i }}" {% if i == app.request.get('maxPower') %} selected {% endif %}>{{ i }}</option>
                {% endfor %}
                <option value="">any</option>
            </select>
        <input type="submit" value="Filter Now">
    </form>
{% endblock desc %}

{% block body %}
    <table class="table text-center table-bordered text-justify">
        <thead>
            <tr class="popover-title">
                <th>{{ 'Brand'|trans }}</th>
                <th>{{ 'Model'|trans }}</th>
                <th>{{ 'Fuel'|trans }}</th>
                <th>{{ 'Capacity'|trans }}</th>
                <th>{{ 'Power'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Average Fuel Consumption'|trans }} [l/100km]</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('show_vehicle_info', { 'id': car.id }) }}">{{ car.brand.name }}</a></td>
                <td>{{ car.model.name }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.capacity }}</td>
                <td>{{ car.power }}</td>
                <td>{{ car.user.username }}</td>
                <td>{{ car.avgFuelConsumption|number_format('1', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(cars) }}
    </div>
{% endblock body %}       

