{% extends 'base.html.twig' %}

{% block title %}{{ 'Refuel'|trans }}{% endblock title %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <td>{% if refuel.date %}{{ refuel.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Liters'|trans }}</th>
                <td>{{ refuel.liters }}</td>
            </tr>
            <tr>
                <th>{{ 'Kilometer start'|trans }}</th>
                <td>{{ refuel.kilometerStart }}</td>
            </tr>
            <tr>
                <th>{{ 'Kilometer end'|trans }}</th>
                <td>{{ refuel.kilometerEnd }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('show_vehicle_repo', { 'id': refuel.car.id }) }}">{{ 'Back'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="{{ 'Delete'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
