{% extends 'base.html.twig' %}

{% block title %}Refuel{% endblock title %}
{% block body %}

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if refuel.date %}{{ refuel.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Liters</th>
                <td>{{ refuel.liters }}</td>
            </tr>
            <tr>
                <th>Kilometer Start</th>
                <td>{{ refuel.kilometerStart }}</td>
            </tr>
            <tr>
                <th>Kilometer End</th>
                <td>{{ refuel.kilometerEnd }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('show_vehicle_repo', { 'id': refuel.car.id }) }}">Back</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
