{% extends 'base.html.twig' %}

{% block title %}{{ 'Repair'|trans }}{% endblock %}
{% block body %}

    <table class="table text-center table-bordered text-justify">
        <tbody>
{% for repair in repair %}
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ repair.description }}</td>
            </tr>
            <tr>
                <th>{{ 'Date'|trans }}</th>
                <td>{% if repair.date %}{{ repair.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Amount'|trans }}</th>
                <td>{{ repair.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('show_vehicle_info', { 'id': repair[0].car.id }) }}" class="btn bg-primary">{{ 'Back'|trans }}</a>
{% endblock %}
