{% extends 'base.html.twig' %}

{% block title %}Models list{% endblock title %}
{% block desc %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
{% endblock desc %}
{% block body %}

    <a href="{{ path('model_new') }}" class="btn btn-primary">Create a new model</a><hr>
    <table class="table text-center table-bordered text-justify">
        <thead class="popover-title">
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.brand }}</td>
                <td>{{ model.name }}</td>
                <td><a href="{{ path('model_edit', { 'id': model.id }) }}" class="btn btn-primary">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
