{% extends 'base.html.twig' %}

{% block title %}Brands list{% endblock title %}
{% block desc %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
{% endblock desc %}
{% block body %}

    <a href="{{ path('brand_new') }}" class="btn btn-primary">Create a new brand</a>
    <table class="table text-center table-bordered text-justify"><hr>
        <thead class="popover-title">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td><a href="{{ path('brand_edit', { 'id': brand.id }) }}" class="btn btn-primary">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
