{% extends 'base.html.twig' %}

{% block desc %}<a href="{{ path('car_index') }}" class="badge">{{ 'Back'|trans }}</a>{%  endblock desc %}
{% block title %}{{ 'Edit your car'|trans }}{% endblock title %}
{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input type="submit" value="{{ 'Edit'|trans }}" class="btn bg-primary" />
    {{ form_end(edit_form) }}
<hr>
    <a href="{{ path('car_delete', {'id': car.id}) }}" class="btn btn-danger">{{ 'Delete'|trans }}</a>
    {#{{ form_start(delete_form) }}#}
    {#{{ form_widget(delete_form) }}#}
        {#<input type="submit" value="{{ 'Delete'|trans }}" class="btn btn-danger" />#}
    {#{{ form_end(delete_form) }}#}

{% endblock %}
