{% extends 'base.html.twig' %}


{% block title %}{{ 'Cars list'|trans }}{% endblock title %}
{% block desc %}{{ 'All your cars'|trans }}{% endblock desc %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Brand'|trans }}</th>
                <th>{{ 'Model'|trans }}</th>
                <th>{{ 'Capacity'|trans }}</th>
                <th>{{ 'Power'|trans }}</th>
                <th>{{ 'First Registration'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.capacity }}</td>
                <td>{{ car.power }}</td>
                <td>{% if car.firstRegistration %}{{ car.firstRegistration|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">{{ 'Car info'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('show_vehicle_repo', { 'id': car.id }) }}">{{ 'Show car raport'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">{{ 'Edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
