{% extends 'base.html.twig' %}


{% block title %}Cars list{% endblock title %}
{% block username %}{{ user.email }}{% endblock username %}
{% block desc %}All your cars{% endblock desc %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Power</th>
                <th>First Registration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.capacity }}</td>
                <td>{{ car.power }}</td>
                <td>{% if car.firstRegistration %}{{ car.firstRegistration|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">car info</a>
                        </li>
                        <li>
                            <a href="{{ path('show_vehicle_repo', { 'id': car.id }) }}">show car raport</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
