{% extends 'base.html.twig' %}


{% block title %}{{ 'Cars list'|trans }}{% endblock title %}
{% block desc %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
    {% endfor %}
{% endblock desc %}
{% block body %}

    <table class="table text-center table-bordered text-justify">
        <thead>
            <tr class="popover-title">
                <th>{{ knp_pagination_sortable(cars, 'Brand'|trans, 'b.name') }}</th>
                <th>{{ knp_pagination_sortable(cars, 'Model'|trans, 'm.name') }}</th>
                <th>{{ knp_pagination_sortable(cars, 'Capacity'|trans, 'c.capacity') }}</th>
                <th>{{ knp_pagination_sortable(cars, 'Power'|trans, 'c.power') }}</th>
                <th>{{ knp_pagination_sortable(cars, 'First Registration'|trans, 'c.firstRegistration') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.capacity }}</td>
                <td>{{ car.power }}</td>
                <td>{% if car.firstRegistration %}{{ car.firstRegistration|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{ path('show_vehicle_repo', { 'id': car.id }) }}" class="btn bg-primary">{{ 'Show car raport'|trans }}</a>
                    <a href="{{ path('car_edit', { 'id': car.id }) }}" class="btn bg-primary">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(cars) }}
    </div>

{% endblock %}
