{% extends 'base.html.twig' %}


{% block title %}{% endblock title %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Brand'|trans }}</th>
                <td>{{ car.brand }}</td>
            </tr>
            <tr>
                <th>{{ 'Model'|trans }}</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <th>{{ 'Fuel'|trans }}</th>
                <td>{{ car.fuel }}</td>
            </tr>
            <tr>
                <th>{{ 'Capacity'|trans }}</th>
                <td>{{ car.capacity }}</td>
            </tr>
            <tr>
                <th>{{ 'Power'|trans }}</th>
                <td>{{ car.power }}</td>
            </tr>
            <tr>
                <th>{{ 'First Registration'|trans }}</th>
                <td>{% if car.firstRegistration %}{{ car.firstRegistration|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_index') }}">{{ 'Go to car list'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('car_edit', { 'id': car.id }) }}">{{ 'Edit'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
