{% extends 'base.html.twig' %}

{% block username %}{{ user.email }}{% endblock username %}
{% block title %}Info{% endblock title %}
{% block desc %}Info about your car{% endblock desc %}
{% block body %}   
    
{% set avgFuelAll = 0 %}
{% for refuel in refuels %}
     {% set avgFuelAll = avgFuelAll + refuel.getAvgFuel %}
{% endfor %}
           
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Capacity [dm3]</th>
                <th>Power [KM]</th>
                <th>First Registration</th>
                <th>Averange Fuel Consumption [l/100km]</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for c in car %}
            <tr>
                <td>{{ c.brand.name }}</td>
                <td>{{ c.model.name }}</td>
                <td>{{ c.capacity }}</td>
                <td>{{ c.power }}</td>
                <td>{{ c.firstRegistration|date('Y-m-d') }}</td>
                <td>{% if avgFuelAll != 0 %}{{ (avgFuelAll/(refuels|length))|number_format(2, '.') }}{% endif %}</td>
                <td>
                    <li>
                        <a href="{{ path('refuel_new', { 'id': c.id }) }}">Add refuel</a>
                    </li>
                    <li>
                        <a href="{{ path('repair_new', { 'id': c.id }) }}">Add repair</a>
                    </li> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <table class="table">
        <h1>Refuel informations</h1>
        <thead>
            <tr>
                <th>Date</th>
                <th>Liters</th>
                <th>Kilometerstart</th>
                <th>Kilometerend</th>
                <th>Averange fuel consumption</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for refuel in refuels %}
            <tr>
                <td>{% if refuel.date %}{{ refuel.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ refuel.liters }}</td>
                <td>{{ refuel.kilometerStart }}</td>
                <td>{{ refuel.kilometerEnd }}</td>
                <td>{{ refuel.getAvgFuel}}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('refuel_delete', { 'id': refuel.id }) }}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <table class="table">
        <h1>Repair informations</h1>
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
{#                <th>Description</th>#}
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>{% if repair.date %}{{ repair.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ repair.category.name }}</td>
{#                <td>{{ repair.description }}</td>#}
                <td>{{ repair.amount }}</td>
                <td>
                    <li><a href="{{ path('repair_show', { 'id': repair.id }) }}">Show description</a></li>
{#                    <li><a href="{{ path('repair_delete', { 'id': refuel.id }) }}">Delete</a></li>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock body %}

{#                <td>{% if repair.date %}{{ repair.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ repair.category.name }}</td>
                <td>{{ repair.description }}</td>
                <td>{{ repair.amount }}</td>
                <td>

                </td>#}